<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="common/common_resource :: common_resource"></div>
	<title>商品列表</title>
	<script type="text/javascript" th:src="@{/script/demo/demo.js}"></script>
</head>
<body>
<div th:replace="common/common_header :: common_header"></div>
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1"><h4>首页</h4></a></li>
							<li><a data-toggle="tab" href="#tab2"><h4>元数据管理</h4></a></li>
							<li><a data-toggle="tab" href="#tab3"><h4>标准管理</h4></a></li>
							<li><a data-toggle="tab" href="#tab4"><h4>采集管理</h4></a></li>
							<li><a data-toggle="tab" href="#tab5"><h4>demo</h4></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab首页 -->
						<div id="tab1" class="tab-pane active">
							<div th:replace="mainindex/indexpage :: indexpage"></div>
						</div>
						<!-- tab元数据管理 -->
						<div id="tab2" class="tab-pane">
							<div th:replace="metadata/metadatapage :: metadatapage"></div>
						</div>
						<!-- tab标准管理 -->
						<div id="tab3" class="tab-pane">
							<div th:replace="standard/standardpage :: standardpage"></div>
						</div>
						<!-- tab采集管理 -->
						<div id="tab4" class="tab-pane">
							<div th:replace="extract/extractpage :: extractpage"></div>
						</div>
						<!-- tabDemo -->
						<div id="tab5" class="tab-pane">
							<div th:replace="demo/demopage :: demopage"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<div th:replace="common/common_footer :: common_footer"></div>
</body>
<script type="text/javascript" th:src="@{/script/common/slickmain.js}"></script>
</html>