<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="addDemoModal" role="dialog">
        <div class="row">
            <div class="col-md-12" style="padding: 20px;">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <!--<form id="demoForm" class="form-inline" role="form" novalidate="novalidate">-->
                        <form>
                            <div class="form-group">
                                <label class="sr-only">编号</label>
                                <input type="text" id="id" name="id" class="form-control" placeholder="请输入编号" required="required" aria-required="true"/>
                            </div>

                            <div class="form-group">
                                <label class="sr-only">名称</label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="请输入名称" required="required" aria-required="true"/>
                            </div>

                            <div class="form-group">
                                <label class="sr-only">邮箱</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="请输入右键"/>
                            </div>

                            <div class="form-group">
                                <label class="sr-only">详情</label>
                                <input type="text" id="detail" name="detail" class="form-control" placeholder="请输入详情"/>
                            </div>

                            <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">保存</button>
                        </form>
                    </div> <!-- panel-body -->
                </div> <!-- panel -->
            </div> <!-- col -->
        </div>
    </div>
</html>