<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common_header">
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <!--<ul class="header-links pull-left">-->
                <!--</ul>-->
                <ul class="header-links pull-right">
                    <!--<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>-->
                    <li><a href="#"><i class="fa fa-user"></i><span th:text="${userVO.userName}"></span></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i><span th:text="${userVO.userEmail}"></span></a></li>
                    <!--<li><a href="#"><i class="fa fa-map-marker"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>-->
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
    </header>
    <!-- /HEADER -->
</div>
</body>
</html>